---
const { title, description, image } = Astro.props;
import { site_author, site_lang, site_name, social, site_url } from "../consts";
const urls = social.links.map(link => link.url) ;

---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="author" content={site_author} />
<meta name="description" content={description} />
<link rel="canonical" href={site_url + Astro.url.pathname}/>


<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:site" content={Astro.url} />
<meta name="twitter:creator" content={site_author} />
<meta name="twitter:image:src" content={ image } />
<meta name="twitter:dnt" content="on" />

<!-- Open Graph -->
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:image" content={ image } />
<meta name="og:url" content={Astro.url} />
<meta name="og:site_name" content={site_name} />
<meta name="og:locale" content={site_lang} />
<meta name="og:type" content="website" />

<!-- Icons -->
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
<link href="/site.webmanifest" rel="application/manifest+json" />
<link color="#0F0F0F" href="/safari-pinned-tab.svg" rel="mask-icon" />
<meta content="#0F0F0F" name="msapplication-TileColor" />
<meta content="/mstile-144x144.png" name="msapplication-TileImage" />
<meta content="#0F0F0F" name="theme-color" />
<meta content="/browserconfig.xml" name="msapplication-config" />
<meta content="nopin" name="pinterest" />
<meta name="generator" content={Astro.generator} />

<!-- JSOn-LD Structured data -->
<script type="application/ld+json" set:html={JSON.stringify({
  "@context": "https://schema.org",
  "@type": "WebSite",
  url:  Astro.url ,
  headline: title,
  name: site_name,
  image: Astro.url + image,
  author: {
    "@type": "Person",
    name:  site_author
  },
  sameAs: urls,
})}>
