---
const { title, description, image } = Astro.props;
import { site_author, site_lang, site_name, site_url, social } from "../consts";
const urls = social.links.map(link => link.url) ;

let pageImage: string

if (image === undefined || image.src === undefined) {
	pageImage = image
} else {
	pageImage = image.src
}
---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="author" content={site_author} />
<meta name="description" content={description} />
<link rel="canonical" href={site_url + Astro.url.pathname}/>


<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:site" content={Astro.url} />
<meta name="twitter:creator" content={site_author} />
<meta name="twitter:image:src" content={ site_url + pageImage } />
<meta name="twitter:dnt" content="on" />

<!-- Open Graph -->
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:image" content={ site_url + pageImage } />
<meta name="og:url" content={Astro.url} />
<meta name="og:site_name" content={site_name} />
<meta name="og:locale" content={site_lang} />
<meta name="og:type" content="website" />

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f0f0f">
<meta name="msapplication-TileColor" content="#0f0f0f">
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link rel="manifest" href="/site.webmanifest">
<link color="#0F0F0F" href="/safari-pinned-tab.svg" rel="mask-icon"/>
<meta content="#0F0F0F" name="msapplication-TileColor"/>
<meta content="/mstile-144x144.png" name="msapplication-TileImage"/>
<meta content="/browserconfig.xml" name="msapplication-config"/>
<meta content="nopin" name="pinterest" />
<meta name="generator" content={Astro.generator} />
<meta name="robots"
	content="noimageindex, nositelinkssearchbox, noarchive, noai, noimageai"
>

<!-- JSOn-LD Structured data -->
<script is:inline type="application/ld+json"
	set:html={JSON.stringify({
		"@context": "https://schema.org",
		"@type": "WebSite",
		url:  Astro.url ,
		headline: title,
		name: site_name,
		image: Astro.url + pageImage,
		author: {
			"@type": "Person",
			name:  site_author
		},
		sameAs: urls,
	})}
>
