---
import "@assets/css/abstracts/_mixins.scss";
import "@assets/css/abstracts/_variables.scss";
import "@assets/css/base/_reset.scss";
import "@assets/css/base/_typography.scss";
import "@assets/css/base/_base.scss";
import "@assets/css/components/_btn.scss";
import "@assets/css/components/_card.scss";
import "@assets/css/layout/_header.scss";
import "@assets/css/layout/_hero.scss";
import "@assets/css/layout/_footer.scss";
import "@assets/css/layout/_contact.scss";
import "@assets/css/pages/_home.scss";

import Contact from "@components/Contact.astro";
import Hero from "@components/Hero.astro";
import Picture from "@components/Image.astro";
import Default from "./Default.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Frontmatter {
	title: string;
	description: string;
	image?: string | { src: string };
}

interface HomeProps {
	frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props as HomeProps;

// Searches and sorts posts by most recent from "projetos" collection
const posts: CollectionEntry<"projetos">[] = (
	await getCollection("projetos")
).sort((b, a) => a.data.date.valueOf() - b.data.date.valueOf());

// Format categories for cards exibition
const formatCategories = (values: string[]) => values.join(" • ");
---

<Default
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}>
	<div class="noise"></div>
	<Hero />
	<main id="main">
		<section class="projetos" id="projetos">
			{
				posts.map((post) => (
					<a href={`/projetos/${post.id}/`} class="card">
						<div class="noise" />
						<Picture
							src={post.data.card}
							alt={post.data.description}
							type="card"
						/>
						<div class="card__description">
							<h2 class="card__title">{post.data.title}</h2>
							<span class="card__tag">
								{formatCategories(post.data.categories)}
							</span>
						</div>
					</a>
				))
			}
		</section>
	</main>
	<Contact />
</Default>
