---
import "@assets/css/abstracts/_mixins.scss";
import "@assets/css/abstracts/_variables.scss";
import "@assets/css/base/_base.scss";
import "@assets/css/base/_typography.scss";
import "@assets/css/components/_links.scss";
import "@assets/css/components/_navigation.scss";
import "@assets/css/layout/_footer.scss";
import "@assets/css/layout/_grid.scss";
import "@assets/css/layout/_header.scss";
import "@assets/css/pages/_post.scss";

import Picture from "@components/Image.astro";

const { title, image, roles, date, team } = Astro.props;
---

<div class="noise"></div>
<article
	class="post grid__module--site"
	itemscope
	itemtype="http://schema.org/BlogPosting">
	<div class="post__header">
		<div class="post__header--container">
			<h1 class="post__header--title" itemprop="name headline">
				{title}
			</h1>
		</div>
		<div class="post__info">
			<div class="function">
				<h3 class="post__info--title">Minha Função</h3>
				{roles.map((role: any) => <p class="post__info--text">{role}</p>)}
			</div>
			{
				!team ? null : (
					<div class="team">
						<h3 class="post__info--title">Equipe</h3>
						{team.map((team: any) => (
							<p class="post__info--text">
								{!team.portfolio ? (
									team.name + ", " + team.role
								) : (
									<a href={team.portfolio} rel="noopener" target="_blank">
										{team.name + ", " + team.role}
									</a>
								)}
							</p>
						))}
					</div>
				)
			}
			<div class="year">
				<h3 class="post__info--title">Data</h3>
				<p class="post__info--text">
					{date.getFullYear()}
				</p>
			</div>
		</div>
		<div class="post__splash--container">
			<Picture src={image} alt="" type="banner" />
		</div>
	</div>
	<div class="post__content" itemprop="articleBody">
		<div class="post__content--container">
			<slot />
		</div>
		<hr />
	</div>
</article>
